						<div class="col-md-4 col-sm-6 col-xs-12 mb-4">
							<div class="card">
								<img class="card-img-top img-fluid" src="<%= variable_product[:image] %>" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">
									<span class="badge badge-pill badge-purple float-right"><%= variable_product[:price] %></span>
									<a href="detail-page.html"><%= variable_product[:name] %></a>
									</h5>
									<p class="card-text">
										<%= variable_product[:description] %>
									</p>
								</div>
							</div>
						</div>